<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>婚纱摄影</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="__HOMEI__/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__HOMEI__/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__HOMEI__/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="__HOMEI__/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="__HOMECSS__/amazeui.min.css">
  <link rel="stylesheet" href="__HOMECSS__/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


<!-- 页面内容 开发时删除 -->
<!--留言板-->
<div class="am-show-md-up">
  <div id="m-messge" class="m-messge">
    <div class="am-container am-g" >
    <div style="margin:auto; width: 640px; height: 100px;">
      <div class="m-messge-name am-fl" >
        <strong>姓名:</strong><br><input type="text" class="messge-name" placeholder="输入姓名">
      </div>
      <div class="m-messge-name am-fl" >
        <strong>qq:</strong><br><input type="text" class="messge-qq" placeholder="输入qq号码">
      </div>
      <div class="m-messge-name am-fl">
        <strong>留言:</strong><br><input type="text" class="messge-msg" placeholder="输入留言内容">
      </div>
      <div class="m-messge-sub am-fl">
        <span id="m-remove" class="am-icon-remove">取消</span><br>
        <span class="am-icon-check">确定</span>
      </div>
    </div>
    </div>
  </div>
</div>
<!--留言板-->
<header class="m-hd">
  <!--pc显示的导航-->
    <div class="am-container am-show-md-up" style=" line-height: 60px;">
      <a href="javascript:void(0)" class="m-logo">
        <h3 style="margin-bottom: 0px;">婚纱摄影</h3>
      </a>
      <nav>
        <ul class="am-nav am-nav-pills am-fl m-nav">
          <li><a href="javascript:void(0)" rel="nofollow">关于我们</a></li>
          <li><a href="javascript:void(0)" rel="nofollow">婚纱摄影</a></li>
          <li><a href="javascript:void(0)" rel="nofollow">儿童摄影</a></li>
          <li><a href="javascript:void(0)" rel="nofollow">艺术写真</a></li>
          <li><a href="javascript:void(0)" rel="nofollow">套装系列</a></li>
          <li><a href="javascript:void(0)" rel="nofollow">爱的炫耀</a></li>
        </ul>
      </nav>
    </div>
  <!--pc显示的导航-->
  <!--phone显示的导航-->
    <nav data-am-widget="header" class="am-header am-header-default am-show-sm-only">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">
                <i class="am-header-icon am-icon-home"></i>
          </a>
      </div>
      <h1 class="am-header-title">
          <a href="#title-link" class="">
            婚纱摄影
          </a>
      </h1>
      <div class="am-header-right am-header-nav">
          <a href="#right-link" class="" data-am-offcanvas="{target: '#doc-oc-demo3'}">
            <i class="am-header-icon am-icon-bars"></i>
          </a>
      </div>
      <!-- 侧边栏内容 -->
      <div id="doc-oc-demo3" class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
          <ul class="m-phone-nav-list">
            <li style=" border-bottom: 0; height: 20px"></li>
            <li><a href="javascript:void(0)" rel="nofollow">关于我们</a></li>
            <li><a href="javascript:void(0)" rel="nofollow">婚纱摄影</a></li>
            <li><a href="javascript:void(0)" rel="nofollow">儿童摄影</a></li>
            <li><a href="javascript:void(0)" rel="nofollow">艺术写真</a></li>
            <li><a href="javascript:void(0)" rel="nofollow">套装系列</a></li>
            <li><a href="javascript:void(0)" rel="nofollow">爱的炫耀</a></li>
          </ul>
        </div>
      </div>
  </nav>
  <!--phone显示的导航-->
</header>