<include file="Public:header" />
<!--焦点图-->
<div data-am-widget="slider" class="am-slider am-slider-a5 m-slides-con" data-am-slider='directionNav":false}' >
  <ul class="am-slides">
      <li>
          <a href="##"><img src="__HOMEIMG__\banner-2.jpg"></a>
      </li>
      <li>
          <a href="##"><img src="__HOMEIMG__\banner-2.jpg"></a>
      </li>
      <li>
          <img src="__HOMEIMG__\banner-2.jpg">
      </li>
      <li>
          <img src="__HOMEIMG__\banner-2.jpg">
      </li>
  </ul>
  <div class="m-slides-p am-show-md-up">
    <div id="m-slides-messge" style="width:60px; height: 60px; margin:auto; cursor: pointer;">
      asdf
    </div>
  </div>
</div>
<!--焦点图-->
<!--活动-->
<div class="m-activities ">
  <img src="__HOMEIMG__\huodong1.jpg" class="am-img-responsive" alt=""/>
</div>
<!--活动-->
<!--婚纱摄影-->
<div class="m-wedding">
  <img src="__HOMEIMG__\childrentitle.jpg" class="am-img-responsive am-g" alt="">
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-4 am-avg-lg-4 am-gallery-overlay" >
      <li>
        <div class="am-gallery-item">
            <a href="##" class="">
              <img src="__HOMEIMG__\wedding1.jpg"  alt=""/>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="##" class="">
              <img src="__HOMEIMG__\wedding2.jpg"  alt=""/>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="##" class="">
              <img src="__HOMEIMG__\wedding3.jpg"  alt=""/>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="##" class="">
              <img src="__HOMEIMG__\wedding4.jpg"  alt=""/>
            </a>
        </div>
      </li>
  </ul>
</div>
<!--婚纱摄影-->
<!--m-children-->
<div class="m-children">
  <img src="__HOMEIMG__\childrentitle.jpg" class="am-img-responsive am-g" alt="">
  <div class="am-container">
    <img src="__HOMEIMG__\20160420171615418.jpg" style="margin-top:20px;padding-left: 0rem;padding-right: 0rem;" class="am-img-responsive am-u-sm-6" alt="">
    <img src="__HOMEIMG__\20160421152255550.jpg" style="margin-top:20px;padding-left: 0rem;padding-right: 0rem;" class="am-img-responsive am-u-sm-6" alt="">
  </div>
</div>
<!--m-children-->
<!--m-suit-->
<div class="m-suit">
  <div class="m-suit-title am-container">
    <img src="__HOMEIMG__\scroll5.jpg" alt="" class="am-img-responsive">
  </div>
  <div
  class="am-slider am-slider-default"
  data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
    <ul class="am-slides" style="margin-top: 20px;">
      <li data-thumb="__HOMEIMG__\scroll5.jpg">
        <img src="__HOMEIMG__\banner-2.jpg" /></li>
      <li data-thumb="__HOMEIMG__\scroll5.jpg">
        <img src="__HOMEIMG__\banner-2.jpg" /></li>
      <li data-thumb="__HOMEIMG__\scroll5.jpg">
        <img src="__HOMEIMG__\banner-2.jpg" /></li>
      <li data-thumb="__HOMEIMG__\scroll5.jpg">
        <img src="__HOMEIMG__\banner-2.jpg" /></li>
    </ul>
  </div>
</div>
<!--m-suit-->
<include file="Public:footer" />