<include file="Public:header" />
<!--大图-->
<img src="__HOMEIMG__\banner-2.jpg" class="am-img-responsive" alt=""/>
<!--大图-->
<!--标题-->
<p class="am-text-center am-show-md-up" style="font-size:2em">Wedding Photography</p>
<p class="am-text-center am-show-ms-only" style="font-size:1em">Wedding Photography</p>
<HR>
<!--标题-->
<!--分类-->
<div class="am-container am-show-md-up" style="width:80%;">
	<a href="##" class="am-btn am-btn-danger am-round">三亚站</a>
	<a href="##" class="am-btn am-btn-default am-round">青岛站</a>
	<a href="##" class="am-btn am-btn-default am-round">青岛站</a>
	<a href="##" class="am-btn am-btn-default am-round">古装站</a>
  <a href="##" class="am-btn am-btn-default am-round">香格里拉站</a>
</div>
<div class="am-container am-show-sm-only" style="width:90%;">
  <a href="##" class="am-btn am-btn-danger am-round am-btn-xs">三亚站</a>
  <a href="##" class="am-btn am-btn-default am-round am-btn-xs">青岛站</a>
  <a href="##" class="am-btn am-btn-default am-round am-btn-xs">青岛站</a>
  <a href="##" class="am-btn am-btn-default am-round am-btn-xs">古装站</a>
  <a href="##" class="am-btn am-btn-default am-round am-btn-xs">香格里拉站</a>
</div>
<div class="am-show-md-up" style="width:80%; margin:auto; margin-top:1.0em;">
	<div class="am-g doc-am-g">
	  <div class="am-fl" style="width:20%; max-height:320px;"><img src="__HOMEIMG__\wedding1.jpg" style="width:100%" alt=""></div>
	  <div class="am-fl" style="margin-left: 1.5em;">
  		<p>属于你的梦幻记忆</p>
  		<p>拍摄地点：<span>三亚</span></p>
  		<p>上传日期：<span>2016-5-1</span></p>
  		<p>浏览人气：<span>1202</span></p>
	  </div>
	</div>
</div>
<div class="am-show-sm-only" style="width:80%; margin:auto; margin-top:1.0em;">
  <div class="am-g doc-am-g">
    <div class="am-fl" style="width:20%"><img src="__HOMEIMG__\wedding1.jpg" style="width:100%" alt=""></div>
    <div class="am-fl" style="margin-left: 1.5em;">
      <p style="font-size:0.5em; margin:0;">属于你的梦幻记忆</p>
      <p style="font-size:0.5em; margin:0;">拍摄地点：<span>三亚</span></p>
      <p style="font-size:0.5em; margin:0;">上传日期：<span>2016-5-1</span></p>
      <p style="font-size:0.5em; margin:0;">浏览人气：<span>1202</span></p>
    </div>
  </div>
</div>
<hr>
<div style="width:85%;margin:auto;">
  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-4
  am-avg-md-6 am-avg-lg-8 am-gallery-imgbordered" data-am-gallery="{  pureview: true }" >
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
              <img src="__HOMEIMG__\wedding1.JPG"  alt="远方 有一个地方 那里种有我们的梦想"/>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
              <img src="__HOMEIMG__\wedding1.JPG"  alt="某天 也许会相遇 相遇在这个好地方"/>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
              <img src="__HOMEIMG__\wedding1.JPG"  alt=""/>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
              <img src="__HOMEIMG__\wedding1.JPG"  alt="终会走过这条遥远的道路"/>
            </a>
        </div>
      </li>
  </ul>
</div>
<!--分类-->
<!--页脚-->
<include file="Public:footer" />